:root{

--light_blue: #47ADF1;

--white: #FFFFFF;

--dark_wite: #F6F8F9;

--green: #B0C926;

--dark_green: #64C0A9;

--pink: #D863A1;

--orange: #F29E33;

--purple: #9C72E4;

}

/* color */

body{
    background-color: var(--dark_wite);
}

#site_header{
    background-color: var(--white);
}

header>strong{
    font-size: 3rem;
    vertical-align: top;
    font-family: Arial,sans-serif;
}

/* header */