:root{

--light_blue: #47ADF1;

--white: #FFFFFF;

--dark_wite: #F6F8F9;

--green: #B0C926;

--dark_green: #64C0A9;

--pink: #D863A1;

--orange: #F29E33;

--purple: #9C72E4;

--gray: #D3D8DB;

}

/* utilitities */

*{
    box-sizing: border-box;
}

body{
    background-color: var(--dark_wite);
}

/* header */
#site_header{
    background-color: var(--white);
}

header>strong{
    font-size: 3rem;
    vertical-align: top;
    font-family: Arial,sans-serif;
}

/* main_button */

#site_main{
    width:80%;
    margin: auto;
    background-color: var(--white);
    margin-top: 3rem;
}

#conteiner_button{
    padding: 1rem;
    margin-left: 2rem;
}

.button{
    padding: 0.4rem;
    border-radius: 5px;
    border-style: solid;
}

.bg_button{
    background-color: var(--light_blue);
    color: var(--white);
    border-color: var(--light_blue);
}

.bg_button_r{
    background-color: var(--white);
    color: var(--gray);
    border-color: var(--gray);
}