:root{

--light_blue: #47ADF1;

--white: #FFFFFF;

--dark_wite: #F6F8F9;

--green: #B0C926;

--dark_green: #64C0A9;

--check_green: #65C0A9;

--pink: #D863A1;

--orange: #F29E33;

--purple: #9C72E4;

--gray: #D3D8DB;

--red:#EB5952;

}

.space{
    padding-bottom: 2rem;
}

/* utilitities */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h2{
    margin-bottom: 1rem;
}

body{
    background-color: var(--dark_wite);
}

/* header */
#site_header{
    background-color: var(--white);
}

header>strong{
    font-size: 3rem;
    vertical-align: top;
    font-family: Arial,sans-serif;
}

/* main_button */

#site_main{
    width:80%;
    margin: auto;
    background-color: var(--white);
    margin-top: 3rem;
}

#conteiner_button{
    padding: 1rem;
    padding-left: 2rem;
    border-bottom: 2px solid var(--dark_wite);
}

.button{
    padding: 0.4rem;
    border-radius: 5px;
    border-style: solid;
}

.bg_button{
    background-color: var(--light_blue);
    color: var(--white);
    border-color: var(--light_blue);
}

.bg_button_r{
    background-color: var(--white);
    color: var(--gray);
    border-color: var(--gray);
}

/* list */

.conteiner_list{
    padding-top: 1rem;
    padding-left: 2rem;
    font-family: Arial,sans-serif;
}

.check_mark{
    color: var(--check_green);
    border: 2px solid var(--check_green);
    border-radius: 50%;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
}

.not_check_mark{
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 50%;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
}

.selection{
    border-radius: 15px;
    padding: 0.5rem;
    color: var(--white);
}

.editorial{
    background-color: var(--light_blue);
}

.goals{
    background-color: var(--purple);
}

.recruiting{
    background-color: var(--dark_green);
}

.mobile{
    background-color: var(--orange);
}

.website{
    background-color: var(--pink);
}

.sales{
    background-color: var(--green);
}